<VirtualHost *:80>
    ServerName git.{{ apache_domain }}
    ServerAlias www.git.{{ apache_domain }}
    Redirect permanent / https://git.cofezuwo.org/
</VirtualHost>

<VirtualHost *:443>
    ServerName git.{{ apache_domain }}
    ServerAlias www.git.{{ apache_domain }}
    ServerAdmin {{ apache_admin_email }}

    ErrorLog ${APACHE_LOG_DIR}/{{ apache_domain }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ apache_domain }}_access.log combined

    SSLEngine on
    SSLCertificateFile {{ apache_ssl_cert_path }}
    SSLCertificateKeyFile {{ apache_ssl_key_path }}

    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</VirtualHost>
